%h1 Add a New Transaction


<!--<%= form_for(@transaction) do |f| %>-->
  <!--<% if @transaction.errors.any? %>-->
    <!--<div id="error_explanation">-->
      <!--<h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>-->

      <!--<ul>-->
      <!--<% @transaction.errors.full_messages.each do |message| %>-->
        <!--<li><%= message %></li>-->
      <!--<% end %>-->
      <!--</ul>-->
    <!--</div>-->
  <!--<% end %>-->

  <!--<div class="field">-->
    <%= f.label :date %><br>
    <!--<%= f.datetime_select :date %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <%= f.label :description %><br>
    <!--<%= f.text_field :description %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <%= f.label :Category %><br>
    <!--<%= f.text_field :Category %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <%= f.label :Amount %><br>
    <!--<%= f.number_field :Amount %>-->
  <!--</div>-->
  <!--<div class="actions">-->
    <!--<%= f.submit %>-->
  <!--</div>-->
<!--<% end %>-->
