= simple_form_for(@transaction, html: { class: 'form-horizontal' }) do |f|
  = f.input :date, order: [:month, :day, :year], ampm: true
  %br/
  = f.input :description, label: "Transaction Description: ", input_html: {class: "form-control" }
  = f.input :amount, label: "Value: ", input_html: {class: "form-control" }
  = f.collection_select(:category_id, Category.all, :id, :name, { prompt: 'Select Category', selected: @transaction.category_id},
  {class: 'form-control'})
  %br/
  = f.select :transaction_type, options_for_select(@transaction_types.collect { |s| [s[0].humanize, s[0]] },
  selected:@transaction.transaction_type), input_html: { class: "form-control" }
  %br/
  = f.button :submit, class:"button"
#categories
  = simple_form_for([@category, Category.new], remote: false, html: {class: 'form-horizontal'}) do |f|
    = f.input :name, label: "New Category", input_html: {class: "form-control"}
    = hidden_field_tag(:transaction_id, @transaction.id)
    = f.button :submit, "Create Category", class:"button"

