!!!
%html
  %head
  .wrapper_with_padding
    - [:notice]
    #div.centre
      %h1= "Total Spent: $#{Transaction.where(:transaction_type => 0).sum(:amount)} | Total Income: $#{Transaction.where(:transaction_type => 1).sum(:amount)}"
      - if (Transaction.where(:transaction_type => 0).sum(:amount) > Transaction.where(:transaction_type => 1).sum(:amount))
        %h2= "Danger: You need to make some money and stop spending it!"
    #transactions.clearfix
      - unless @transactions.blank?
        - @transactions.each do |transaction|
          %a{ href: (url_for [transaction])}
            .transaction
              %p.date= transaction.date.strftime('%m-%d-%Y %I:%M %p')
              %p.description= "Description: #{transaction.description}"
              %p.category= "Category: #{transaction.category.name}"
              %p.amount= "Amount: #{'-' if !transaction.transaction_type.eql? 'income'}$#{transaction.amount}"
              %p.transaction_type= "Income/Cost: #{transaction.transaction_type.capitalize}"
      - else
        %h2 Add a transaction
        %p You have not entered any transactions yet, please use the "New Transaction" button to create one.
        %button= link_to "New Transaction", new_transaction_path