.wrapper_with_padding
  #transaction
    %h1 Transaction
    %p= "Date: #{@transaction.date.time.strftime('%m-%d-%Y %I:%M %p')}"
    %p= "Description: #{@transaction.description}"
    = link_to "Category: #{@transaction.category.name}", @transaction.category
    %p= "Amount: #{'-' if !@transaction.transaction_type.eql? 'income'}$#{@transaction.amount}"
    %p= "Income/Cost: #{@transaction.transaction_type.capitalize}"

    %br
    .buttons
      = link_to "All Transactions", transactions_path, class: "button"
      = link_to "Edit", edit_transaction_path(@transaction), class: "button"
      = link_to "Delete", transaction_path(@transaction), method: :delete, data: { confirm: "Are you sure?"}, class: "button"
